.container {
    display: flex;
    flex-direction: row;

}

.column-inf {
    position: relative;
    right:230px;
    top: 10px;
    height: 100%;
    border: 1px solid #fddddd;
}
.btn-friends{
    position: relative;
    bottom: 20px;
    right: 230px;
    top: 10px;
    padding: 10px;
    height: 10%;
    border: 1px solid #fddddd;

}
.column-chat {
    height: 87%;
    position: relative;
    right: 200px;
    top: 30px;
    width: 900px;
    height: 610px;
    border: 1px solid #e61a1a;
}

.search-users {
    position: relative;
    padding: 0;
    height: 10%;
    position: relative;
    bottom: 20px;
    left: 1050px;
}