.groups-form{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 180px;
    border:2px solid #d16464;
    left:-105px;
justify-content: left;
}
.groups-form h6{
    font-size: 12px;
    align-self: center;
    left: 50%;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-left: 2px;

}
.create-group{
    display: fixed;
    position: absolute;
    height: 40px;
    border: 2px solid #d16464;
    width: 150px;
    
    bottom: 0px;
}
.create-group-btn{
    display: fixed;
width: 50%;
height: 100%;
    bottom: 0px;
    font-size: medium;
    margin: 0px;
    padding: 6px;
}
.create-group-form{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border:2px solid #d16464;
    left:-70px;
    justify-content: left;
}
.create-group-img{

    height: 50px;
    width: 50px;
    border: 1px solid #d16464;
    border-radius: 20px;
}
.chat-container{
    display: flex;
    flex-direction: row;
    position: relative;
    left:-105px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 770px;
    border:2px solid #d16464;
}
.single-group-container{
    display: flex;
    flex-direction: row;


}
.members-container{
    display: flex;
    flex-direction: column;
    position: relative;
   left: -105px;

    height: 100%;
    width: 250px;
    border:2px solid #d16464;
}
.members-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap:20px;
    left: 35px;
    
    
    
}