.header-frineds {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  
}

.view-frineds {

  display: flex;
  position: relative;
  flex-direction: column;
  width: 1230px;
  border: 1px solid #1009093d;
  right: 1%;
  top: 10px;
  border-radius: 10px;
  background-color: rgba(211, 14, 241, 0.085);
  box-sizing: border-box;
}
/* 
.view {


} */



.friends-button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  margin: 10px;
  border-radius: 1.5rem;
  background: linear-gradient(82.3deg,
      rgb(181, 151, 226) 10.8%,
      rgb(86, 83, 140) 94.3%);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.friends-button:hover::before {
  transform: scaleX(1);
}

.friends-button span {
  position: relative;
  z-index: 1;
}

.friends-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

