/* .header-view {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left: -12px;
    gap: 10px;
    border: 1px solid #fddddd;
    top: 10px;
    height: 600px;
    padding: 20px;
} */


#logout {
    display: flex;
   
    height: 45px;
    position: relative;
    bottom: 20px;
    left: 1300px;
   
}


  /* Add additional styles for other elements inside the header as needed */
  .header-view {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left: -12px;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); /* Light border */
    top: 10px;
    height: 600px;
    padding: 20px;
   
    backdrop-filter: blur(10px); /* Blur the background elements */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37), /* Add some shadow for depth */
                0 30px 60px rgba(97, 218, 251, 0.3); /* Add some blue light */
    border-radius: 10px; /* Rounded corners */
    transition: all 0.5s ease; /* Add transition */
}
