.public-groups-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-start;
    position: relative;
    right: 15px;
    width: 100%;
    height: 640px;
    gap: 27.5px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgba(211, 14, 241, 0.085);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 133, 0.37),
        0 30px 60px rgba(124, 121, 203, 0.414);

    border-radius: 30px;
    transition: all 0.5s ease;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}


/* card group */
.card-group-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;

}

.card-group {
    max-width: 300px;
    flex: 0 1 calc(33.333% - 3px);
    border-radius: 1rem;
    background-color: rgba(31, 41, 55, 1);
    padding: 7px;
    margin: 3px;
    color: #fff;

}


.info-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    position: relative;
    bottom: 30px;
}

/* title */
.title-group {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: relative;
    color: rgba(255, 255, 255, 1);
    position: relative;
    bottom: 60px;
    left: 50px
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}


/* join btn */
.btn-join {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all .3s ease;
    background-color: rgb(185, 128, 240);
    position: relative;
    bottom: 23px;
}

.btn-join:hover {
    background-color: rgb(118, 36, 194);
    color: #fff;
}

/* leave btn */
.btn-leave {
    margin: 3px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all .3s ease;
    background-color: rgb(229, 123, 237);
    color: black;
    position: relative;
    bottom: 23px;
}

.btn-leave:hover {
    background-color: rgb(175, 72, 162);
    color: #fff;
}

.img {
    width: 100px;
    height: 100px;
    position: relative;
    right: 70px;
    top: 40px;
}