/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


#root {
display: flex;
flex-direction: row;
justify-content: left;
}

.main-content{
  display: flex;
  flex-direction: row;
  position: relative;
}