.register-view {
    width: 1538px;
    height: 800px;
    background-image: url('/image/register.jpg');
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: -40px;
  }
  
  .register-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(15, 13, 13, 0.785);
    backdrop-filter: blur(10px);
    color: #ffffff;
    position: relative;
    right: 80px;
    top: 80px;
  }
  
  .register-form h2 {
    text-align: center;
    color: #ffffff;
  }
  
  .register-form label {
    display: block;
    position: relative;
    right: 90px;
    top: 20px;
  }
  
  .register-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form .register-btn {
    text-align: center;
  }
  
  .register-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #79c2d4;
    color: #fff;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #5d1f80;
  }

  #login-link{
    color: #d8a2e9;
    position: relative;
    left: 120px;
    bottom: 80px;
  }